
html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	text-align: center; 
	font-family: 'Roboto', Verdana, sans-serif;
	font-size: 18px;
	background: #ddddde;
	padding: 0; margin: 0;
	min-height: 100%;
}

a {
	color: #38838B;
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

h1 {
	font-family: 'Bree Serif', Georgia, serif;
	width: 100%;
	font-size: 200%;
	margin: 1em 0;
	color: #333;
	letter-spacing: 0.1em;
	text-shadow: 0 0.2em 0.5em rgba(0,0,0,0.1);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;	
}

.gravatar { 
	width: 200px;
	height: 200px;
	margin: 2em auto;
	background-color: rgba(0,0,0,0.5);
	background-image: url('http://www.gravatar.com/avatar/fb3eebee376e8d506503148d021a409a?s=200');
	border-radius: 200px;
	border: solid 10px black;
	opacity: 0.9;
}

.me {
	width: 80%;
	max-width: 70em;
	margin: 1em auto;
	display: flex;
}
.me:after { /* clearfix */
	content: ""; display: table; clear: both;
}

.col {
	flex-grow: 1;
	box-sizing: border-box;
	width: 46%;
	min-width: 16em;
	min-height: 23em;
	padding: 2em;
	margin: 1em 2% 2em 2%;
	float: left;
	text-align: left;
	background: #fff;
	box-shadow: 0 0.5em 0.6em rgba(0,0,0,0.2);
}

	.col h2 { 
		margin-top: 0;
	}
	.col ul {
		list-style: none;
		padding: 0;
		margin: 1em 0;
	}
	.col li {
		display: block;
		margin: 0;
		text-indent: 0;
		position: relative;
    	padding-left: 1em;
	}
	.col li:before {
		content: "• ";
		color: #aaa;
		font-size: 1.8em;
		position: absolute;
		left: 0; top: 0;
	}
	.col li > a {
		display: inline-block;
		padding: 0.5em;
	}




@media only screen and (max-width: 60em) {		
	.me {
		width: 90%;
	}
}

@media only screen and (max-width: 45em) {	
	.me {
		display: block;
		width: 98%;
	}
	.col {
		width: auto;
	}
}

